username = "YOUR_USERNAME"
password = "YOUR_PASSWORD"

base_url = "https://moodle.example.com/"
login_path = "login/index.php"
check_path = "my/"
course_base_path = "mod/bigbluebuttonbn/view.php"
ajax_path = "mod/bigbluebuttonbn/bbb_ajax.php"
view_path = "mod/bigbluebuttonbn/bbb_view.php"

action_beep_check_all = {
    "course_numbers": [
        1337,
    ],
}

util_beep = {
    "count": 20,
    "delay": 0.1,
}

action_join_and_leave_with_user = {
    "user_id": "69420",
}

action_join_on_start = {
    "random_range": [8, 128],
}
